.div-inicio{
    margin-top: 6rem;
    float:none;
    z-index:3;
}

/*columna de texto*/

.div-texto{
    float:left;
    width: 60%;
    padding-left: 10rem;
    padding-top: 20rem;
    padding-bottom: 19rem;
}

.div-texto h1{
    font-family: 'Gothic A1', sans-serif;    
    text-align: left;
    color: white;
    font-size: 8rem;
    margin-bottom: 2rem;
}

.div-texto h2{
    font-family:Arial, Helvetica, sans-serif;
    color: whitesmoke;
    text-align: left;
    font-size: 2.4rem;

}

/*Columna del boton*/
.div-btn{
    float: right;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 26rem;
    padding-bottom: 26rem;
}

.btn-comienzo{
    width:60%;
    font-size: 2.5rem;
    text-align: center;
    border: none;
    border-radius: 4px;
    padding: 2rem 1rem;
   
}