.div-nav{
    z-index:5;
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
}
.Navegador{
    background-color: black;
    color: white;
    padding-left: 2rem;
    overflow: auto;
 
  
    clear: both;
    margin-bottom: 2rem;
}
.Navegador h1{
    font-size: 2rem;
    padding: 1rem 2rem ;
    float: left;
    box-sizing: border-box;
}
.Navegador ol{
    float:right;
    margin: 0px;
}
.Navegador li{
    float:right;
    font-size: 1.7rem;
    color: rgb(177, 174, 174);
    box-sizing: border-box;
    margin: 1rem 2rem ;
    list-style: none;
}

.Navegador li:hover{
    color: white;
}
